.homepage_photo{
  width: 200px;
  height: 150px !important;
}

/**** Homepage Pagination ***/
.pager .active a {
  background-color: darkgray;
  color: gray;
}
.pager .active a:hover {
  background-color: darkgray;
  color: gray;
}